language: node_js
node_js:
- 6.9.0
# env:
#   global:
#   - KUBECONFIG=${HOME}/.kube/config
install:
  - npm i -g npm@3
  - npm install
script:
  - npm run eslint
  - npm run test
cache:
  directories:
  - node_modules
before_deploy:
  - curl -L https://clis.ng.bluemix.net/download/bluemix-cli/0.6.6/linux64 | tar -zx
  - chmod -R u+x ./Bluemix_CLI/bin
  - ./Bluemix_CLI/bin/bluemix plugin install container-registry -r Bluemix
  - ./Bluemix_CLI/bin/bluemix plugin install container-service -r Bluemix
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
  - chmod u+x ./kubectl
  # - sudo mv ./kubectl /usr/local/bin/kubectl
  - chmod +x ./deploy.sh
  - ./Bluemix_CLI/bin/bluemix login --apikey $BXIAM -a https://api.ng.bluemix.net
  - ./Bluemix_CLI/bin/bluemix  cr build -t registry.ng.bluemix.net/rdayao/deploy-react-kubernetes .
  - export KUBECONFIG=$(./Bluemix_CLI/bin/bluemix cs cluster-config rizchel-codepattern)
  # - echo $OUTPUT
  # - sudo cp /etc/kubernetes/admin.conf $HOME/
  # - sudo chown $(id -u):$(id -g) $HOME/admin.conf
  # - export KUBECONFIG=$HOME/admin.conf
  - ./kubectl create -f deployment.yaml
deploy:
  provider: script
  script: sh ./deploy.sh
  on:
    branch: deploy
