body {
  background: #00a78f; }

p {
  color: #808080;
  margin: 1em; }

h1 {
  color: #fff; }

.container {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto; }

.set {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.input {
  height: 48px;
  width: 70%;
  border: 1px solid #00a78f;
  font-size: 16px;
  color: #808080;
  letter-spacing: 1px;
  font-weight: 400;
  margin-right: 2em;
  border-radius: 5px; }

input[type=text]:focus {
  outline: none; }

.button {
  transition: all 0.3s ease 0s;
  height: 52px;
  width: 25%;
  border: 3px solid #fff;
  color: #fff;
  background: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border-radius: 5px; }

.button:hover {
  color: #00a78f;
  background: #fff;
  outline: none; }

.list {
  width: 100%;
  margin-top: 2em;
  background: #fff;
  height: 400px;
  border-radius: 5px;
  margin-bottom: 2em; }

@media only screen and (min-width: 992px) {
  .container {
    width: 800px; } }
